<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="3.00:00:00" />
        </staticContent>
        <rewrite>
            <rules>
                <clear />
                <rule name="Force HTTPS" enabled="true">
                <match url="(.*)" ignoreCase="false" />
                <conditions>
                    <add input="{HTTPS}" pattern="off" />
                </conditions>
                <action type="Redirect" url="https://{HTTP_HOST}" appendQueryString="false" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>

       </system.webServer>     
</configuration>
