<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.webServer>
    <rewrite>
      <rules>  
        <rule name="blogRedirect" stopProcessing="true" enabled="false"> 
            <match url="^blog" />
            <conditions>
                <add input="{HTTP_HOST}" pattern="mathan.azurewebsites.net" />
            </conditions>
            <action type="Redirect" url="https://mathan.azurewebsites.net/hello" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
