  <?xml version="1.0" encoding="utf-8" ?>
  <configuration>
    <system.webServer>
      <rewrite>
        <rules>
          <rule name="CName to URL" stopProcessing="true">
            <match url=".*" />
            <conditions>
              <add input="{HTTP_HOST}" pattern="^(?!www)(.*)\.mydomain\.com$" />
            </conditions>
            <action type="Redirect" url="http://mydomain.com/{C:1}/{R:0}" />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
  </configuration>